
@import '~bootstrap/scss/bootstrap-utilities';

.card {
    border: 0;
    color: $white;
    min-height: 400px;
}
  
.card-date {
    color: $gray-300;
}
  
.card-body {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
}
 
.btn-ghost {
    color: $white;
    border: 1px solid $white;
}
  