@import '~bootstrap/scss/bootstrap-utilities';

.heading {
  color: $pink-600;
  margin-bottom: map-get($spacers, 3);
}

.subheading {
  margin-bottom: map-get($spacers, 5);
}

.btn-ghost-pink {
  border: 1px solid $pink-400;
  color: $pink-400;
}

.more-container {
  text-align: center;
}
