
.heading {
  color: #f20658;
  margin-bottom: 30px;
}

.subheading {
  margin-bottom: 40px;
}

.btn-ghost-pink {
  border: 1px solid #d62976;
  color: #d62976;
}

.more-container {
  text-align: center;
}
